{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
          {% block title %}
          {% endblock %}
      </title>
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'css/flex.css' %}" rel="stylesheet">
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>
  <body data-bs-theme="light">
    <nav class="navbar navbar-expand-md bg-body-secondary">
        <div class="container">
            <div class="navbar-brand">
                <svg class="icon-stroke-black" width="40" height="30" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 0V20H4V40H7V30H17V40H23V9A6 4 0 0 0 22 0L20 0ZM20 40V30ZM10 30V40H13V30Z" fill="none" stroke-width="2"/></svg>
                LPIE
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses' %}">Курсы</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">&lt;!&ndash;Сообщество &ndash;&gt;(developed)</a>-->
<!--                </li>-->

<!--                  <div class="vr"></div>
                <li class="nav-item">
                   <a class="nav-link" href="#">Мои курсы</a>
                </li>-->
              </ul>
<!--                <a href="#">-->
<!--                    <svg class="bi bi-person-circle icon-fill-black" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16">-->
<!--                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>-->
<!--                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>-->
<!--                    </svg>-->
<!--                </a>-->
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
 <footer class="border-top bg-secondary-subtle mt-5 p-3">
     <div class="container">
         <p class="">Данный сайт разрботан в качестве проекта для обучающих целей.<br>
             Проект выполнил Быков Иван<br></p>
         <p>Скачать файлы проекта:</p>
         <ul>
             <li>
                 текстовый документ: LPIE-word.docx
                 <a href="{% static 'files/LPIE-word.docx' %}" download>(скачать)</a>
                 <a href="{% url 'word' %}" target="_blank">(посмотреть в отдельной вкладке)</a>
             </li>
             <li>
                 презентация: LPIE-presentation.pptx
                 <a href="{% static 'files/LPIE-presentation.pptx' %}" download>(скачать)</a>
                 <a href="{% url 'presentation' %}" target="_blank">(посмотреть в отдельной вкладке)</a>
             </li>
         </ul>
     </div>
 </footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>
