<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p align="center">
    Государственное  общеобразовательное учреждение
</p>
<p align="center">
    «Забайкальский  краевой лицей-интернат»
</p>
<p align="center">
    ИТОГОВЫЙ
</p>
<p align="center">
    ИНДИВИДУАЛЬНЫЙ
</p>
<p align="center">
    ПРОЕКТ
</p>
<p align="center">
    Разработка сайта по изучению языка  программирования python
</p>
<p align="right">
    Выполнил ученик 11 «Б»
</p>
<p align="right">
    Быков Иван Владимирович
</p>
<p align="right">
    Научный руководитель
</p>
<p align="right">
    Хаустова Мария Вадимовна
</p>
<p align="right">
    учитель информатики
</p>
<p align="center">
    Чита
</p>
<p align="center">
    2024 <br clear="all"/>
</p>
<p>
    <strong>Содержание   проекта</strong>
</p>
<p>
    Титульный лист
</p>
<p>
    <strong>Содержание проекта</strong>
</p>
<p>
    <a href="#_Toc175997947">Паспорт проекта. 2</a>
</p>
<p>
    <a href="#_Toc175997948">Введение. 4</a>
</p>
<p>
    <a href="#_Toc175997949">Глава   I. Основы разработки сайтов. 6</a>
</p>
<p>
    <a href="#_Toc175997950">
        1.1 История развития python   и его особенности. 6
    </a>
</p>
<p>
    <a href="#_Toc175997951">1.2 Основа разработки   сайта (HTML) 8</a>
</p>
<p>
    <a href="#_Toc175997952">1.3 JavaScript, CSS. 9</a>
</p>
<p>
    <a href="#_Toc175997953">1.4 Базы данных, Bootstrap, Django. 11</a>
</p>
<p>
    <a href="#_Toc175997954">2.5 Хостинг. 15</a>
</p>
<p>
    <a href="#_Toc175997955">Глава   II. Создание сайта. 17</a>
</p>
<p>
    <a href="#_Toc175997956">
        2.1 Выбор основных   инструментов для создания сайта и их подключение.
        17
    </a>
</p>
<p>
    <a href="#_Toc175997957">
        2.2 Разработка   структуры, макета и дизайна сайта. 19
    </a>
</p>
<p>
    <a href="#_Toc175997958">
        2.3 Разработка   внутренних механизмов сайта, наполнение его контентом.
        20
    </a>
</p>
<p>
    <a href="#_Toc175997959">2.4 Разработка курса. 21</a>
</p>
<p>
    <a href="#_Toc175997960">2.5 Размещение сайта в   сети интернет. 22</a>
</p>
<p>
    <a href="#_Toc175997961">Заключение. 23</a>
</p>
<p>
    <a href="#_Toc175997962">Список   интернет-ресурсов. 24</a>
</p>
<p>
    <a href="#_Toc175997963">Приложение   1. Макет сайта. 25</a>
</p>
<p>
    <a href="#_Toc175997964">Приложение   2. Дизайн сайта. 27</a>
</p>
<strong><em> <br clear="all"/>
</em></strong>
<h1>
    <a name="_Toc175997947"><strong>Паспорт проекта</strong></a>
    <strong>
    </strong>
</h1>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="73" valign="top">
                <p>
                    № П/П
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Наименование
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Описание
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    1
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Название проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Разработка    сайта по изучению языка программирования
                    python
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    2
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Автор проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Быков Иван    Владимирович
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    3
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Аннотация    проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Проект направлен    на создание сайта, который будет
                    помогать людям начать изучать    программирование на основе
                    языка Python
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    4
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Проблема, на    решение которой направлен проект
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Незнание школьниками языка программирования python, который
                    является основным для решения задач по    информатике
                    школьного курса
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    5
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Цели проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Создание обучающего сайта для любых желающих с
                    материалами для изучения программирования
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    6
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Задачи проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Разработать    макет и структуру сайта
                </p>
                <p>
                    Разработать    внутренние механизмы сайта
                </p>
                <p>
                    Разработать    программу для обучения программированию
                </p>
                <p>
                    Загрузить сайт в    информационную сеть интернет
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    7
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Сроки реализации    проекта
                </p>
            </td>
            <td width="403" valign="top">
                <table border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="194" valign="top">
                                <p>
                                    Сроки
                                </p>
                            </td>
                            <td width="194" valign="top">
                                <p>
                                    Мероприятия
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="388" colspan="2" valign="top">
                                <p align="center">
                                    Подготовительный      этап
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="194" valign="top">
                                <p>
                                    01.11.2023-01.02.2024
                                </p>
                            </td>
                            <td width="194" valign="top">
                                <p>
                                    Изучение      теоретического материала
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="388" colspan="2" valign="top">
                                <p align="center">
                                    Основной      этап
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="194" valign="top">
                                <p>
                                    01.03.2023-01.08.2024
                                </p>
                            </td>
                            <td width="194" valign="top">
                                <p>
                                    Разработка      сайта
                                </p>
                                <p>
                                    Разработка      обучающих материалов
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="388" colspan="2" valign="top">
                                <p align="center">
                                    Аналитический      этап
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="194" valign="top">
                                <p>
                                    01.08.2023-01.09.2024
                                </p>
                            </td>
                            <td width="194" valign="top">
                                <p>
                                    Размещение      сайта в сети интернет
                                    проверка его работоспособности
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    8
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Ресурсное    обеспечение проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    ресурсы для    реализации проекта: персональный компьютер,
                    электронные документации,    находящиеся в открытом доступе
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    9
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Источники и    объем финансирования
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    отсутствуют
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top">
                <p>
                    10
                </p>
            </td>
            <td width="169" valign="top">
                <p>
                    Ожидаемые    результаты проекта
                </p>
            </td>
            <td width="403" valign="top">
                <p>
                    Функционирующий    сайт с обучающими материалами
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    Перспективы развития проекта
</p>
<p>
    Перспектива заключается в добавление новых  функций на сайт таких как форум,
    статьи от пользователей, сохранение прогресса  пользователей. Так же
    перспектива заключается в расширении образовательной  информации на сайте и
    добавление материалов по другим языкам программирования. <strong>
    <br clear="all"/>
    </strong>
</p>
<h1>
    <a name="_Toc175997948"><strong>Введение</strong></a>
</h1>
<p>
    Язык программирования  python является одним из  самых популярных языков
    программирования (по данным Tiobe). Это высокоуровневый язык
    программирования общего назначения с динамической строгой типизацией и
    автоматическим управлением памятью, ориентированный на повышение
    производительности разработчика, читаемости кода и его качества, а также на
    обеспечение переносимости написанных на нём программ. Язык является
    полностью  объектно-ориентированным в том плане, что всё является объектами.
    Необычной  особенностью языка является выделение блоков кода отступами.
    Синтаксис ядра  языка минималистичен, за счёт чего на практике редко
    возникает необходимость  обращаться к документации. Сам же язык известен как
    интерпретируемый и  используется в том числе для написания скриптов.
</p>
<p>
    <em>Актуальность</em> выбора данной темы заключается в том, что разработка
    данного сайта  станет отличным помощником в изучении языка программирования
    Python.
</p>
<p>
    <em>Проблема</em>: незнание школьниками языка программирования python,
    который является основным для решения задач  по информатике школьного курса
</p>
<p>
    <em>Цель</em>:  создание обучающего сайта «LPIE» (learning python is easy)
    по  изучении языка программирования Python.
</p>
<p>
    <em>Задачи</em>:
</p>
<p>
    1. Изучение теоретического  материала по разделу информатики «разработка
    сайтов»
</p>
<p>
    2. Определение среды  для разработки по критериям практичности и удобства
    освоения
</p>
<p>
    3. Разработка шаблонов  сайта и его дизайна
</p>
<p>
    4. Разработка  внутренней системы сайта, наполнение его пассивным и
    интерактивным контентом
</p>
<p>
    5. Размещение сайта в сети интернет. <em></em>
</p>
<p>
    <em>Объект</em>: разработка сайтов <em></em>
</p>
<p>
    <em>Предмет</em>: язык программирования Python.
</p>
<p>
    <em>Методы</em>: Анализ и синтез, моделирование
</p>
<p>
    <em>Целевая аудитория</em>: учащиеся 11 «Б» класса ГОУ«ЗабКЛИ»
</p>
<p>
    <em>Итоговый продукт</em>: обучающий сайт «LPIE»
</p>
<br clear="all"/>
<h1>
    <a name="_Toc175997949"><strong>Глава</strong></a><strong>I</strong>
    <strong>. Основы разработки сайтов</strong>
</h1>
<h2>
    <a name="_Toc175997950">1.1 История развития</a>python и его особенности
</h2>
<p>
    Задумка  по реализации языка появилась в конце 1980-х годов, а разработка
    его  реализации началась в 1989 году сотрудником голландского  института CWI
    Гвидо ван Россумом. Для распределённой операционной  системы Amoeba
    требовался расширяемый скриптовый язык, и Гвидо  начал разрабатывать Python
    на досуге, позаимствовав некоторые наработки для  языка ABC (Гвидо
    участвовал в разработке этого языка,  ориентированного на обучение
    программированию). В  феврале 1991 года Гвидо опубликовал исходный текст в
    группе  новостей alt.sources. С самого начала Python проектировался как
    объектно-ориентированный  язык.
</p>
<p>
    Гвидо  ван Россум назвал язык в честь популярного британского комедийного
    телешоу 1970-х «Летающий цирк Монти Пайтона», поскольку автор был
    поклонником этого телешоу, как и многие другие разработчики того времени, а
    в  самом шоу прослеживалась некая параллель с миром компьютерной техники.
</p>
<p>
    Наличие  дружелюбного, отзывчивого сообщества пользователей считается,
    наряду с  дизайнерской интуицией Гвидо, одним из факторов успеха Python.
    Развитие языка  происходит согласно чётко регламентированному процессу
    создания, обсуждения,  отбора и реализации документов PEP (англ.
    <em>
        Python
    </em>
    <em></em><em>Enhancement</em><em></em><em>Proposal</em>) — предложений по
    развитию Python.
</p>
<p>
    3  декабря 2008 года, после длительного тестирования, вышла первая  версия
    Python 3000 (или Python 3.0, также используется сокращение Py3k).  В Python
    3 устранены многие недостатки архитектуры с максимально возможным (но  не
    полным) сохранением совместимости со старыми версиями Python.
</p>
<p>
    Язык  использует динамическую типизацию вместе с подсчётом  ссылок и
    циклический сборщик мусора для менеджмента памяти.  Также есть динамические
    разрешения имён (динамическое связывание),  которые связывают имена методов
    и переменных во время выполнения программы.
</p>
<p>
    Python  предлагает поддержку функционального программирования в традициях
    Лиспа.  Так, в Python есть функции
    <code>filter</code>
    ,
    <code>map</code>
    и
    <code>reduce</code>
    . Так же были заимствованы  понятия характеристик списков, ассоциативных
    массивов (словарей), множеств и генераторов списков.
</p>
<p>
    Вместо  того, чтобы встроить в ядро Python всю функциональность языка, он
    был спроектирован  таким образом, чтобы быть легко расширяемым. Это сделало
    язык популярным  средством добавления программируемых интерфейсов к
    существующим приложениям.  Видение Гвидо ван Россума маленького ядра с
    большой стандартной библиотекой и  легко расширяемым интерпретатором
    проистекало из негативного опыта разработки  языка ABC, который
    придерживался противоположного подхода.
</p>
<p>
    Python  стремится к более простому, менее громоздкому синтаксису и
    грамматике,  предоставляя разработчикам выбор в их методологии кодирования.
    Python  придерживается философии «должен существовать один — и, желательно,
    только  один — очевидный способ сделать это».
</p>
<p>
    Важная  цель разработчиков Python — делать его забавным для использования.
    Это  было отражено в названии языка, данном в честь Монти Пайтона. Также это
    отражено в иногда игривом подходе к обучающим программам и справочным
    материалам, таким как примеры программ из документаций, которые используют
    названия spam и eggs вместо использующихся в документации множества других
    языков foo и bar.
</p>
<strong> <br clear="all"/>
</strong>
<h2>
    <a name="_Toc175997951">1.2 Основа разработки сайта (</a>HTML)
</h2>
<p>
    Разработка сайта (Веб-разработка) — процесс  создания веб-сайта или
    веб-приложения. Основными этапами  процесса являются веб-дизайн, вёрстка
    страниц, программирование на стороне клиента и сервера, а также
    конфигурирование веб-сервера.
</p>
<p>
    Язык гипертекстовой разметки  HTML был разработан британским учёным Тимом
    Бернерсом-Ли приблизительно в 1986—1991 годах в  стенах ЦЕРНа в Женеве в
    Швейцарии. HTML создавался как  язык для обмена научной и технической
    документацией, пригодный для  использования людьми, не являющимися
    специалистами в области вёрстки.
</p>
<p>
    Первым  общедоступным описанием HTML был документ «Теги HTML», впервые
    упомянутый в  Интернете Тимом Бернерсом-Ли в конце 1991 года. В нём
    описываются 18 элементов,  составляющих первоначальный, относительно простой
    дизайн HTML.
</p>
<p>
    Изначально  язык HTML был задуман и создан как средство структурирования и
    форматирования  документов без их привязки к средствам воспроизведения
    (отображения). В идеале,  текст с разметкой HTML должен был без
    стилистических и структурных искажений  воспроизводиться на оборудовании с
    различной технической оснащённостью. Однако  современное применение HTML
    очень далеко от его изначальной задачи. С течением  времени основная идея
    платформонезависимости языка HTML была принесена в жертву  современным
    потребностям в мультимедийном и графическом оформлении.
</p>
<p>
    Текстовые документы, содержащие разметку на языке HTML,  обрабатываются
    браузерами, которые отображают документ в его форматированном  виде. Такие
    приложения, обычно предоставляют пользователю  удобный интерфейс для запроса
    веб-страниц, их просмотра (и  вывода на иные внешние устройства) и, при
    необходимости, отправки введённых пользователем  данных на сервер.
</p>
<strong> <br clear="all"/>
</strong>
<h2>
    <a name="_Toc175997952">1.3</a>JavaScript, CSS
</h2>
<p>
    JavaScript, часто сокращенно JS, — это язык программирования,  который
    является одной из основных технологий Всемирной паутины, наряду  с HTML и
    CSS. По состоянию на 2023  год 98,7% веб-сайтов используют JavaScript на
    стороне клиента для управления поведением веб-страницы, часто  включая
    сторонние библиотеки. Все  основные веб-браузеры имеют специальный движок
    JavaScript для выполнения кода на  устройствах пользователей.
</p>
<p>
    JavaScript  — это высокоуровневый, соответствующий стандарту ECMAScript. Он
    имеет динамическую типизацию, объектную ориентацию на основе  прототипов и
    первоклассные  функции. Он мультипарадигмальный,  поддерживает
    событийно-ориентированный, функциональный и императивный стили
    программирования. Он имеет интерфейсы прикладного программирования (API)
    для работы с текстом, датами, регулярными выражениями,  стандартными
    структурами данных и объектной моделью  документа (DOM).
</p>
<p>
    Стандарт  ECMAScript не включает в себя какие-либо средства ввода-вывода
    (I/O),  такие как сетевые средства, хранилища или графические средства. На
    практике веб-браузер или другая система выполнения предоставляет
    API-интерфейсы JavaScript для ввода-вывода.
</p>
<p>
    CSS (Cascading Style Sheets «каскадные таблицы  стилей») — формальный язык
    декорирования и описания внешнего  вида документа (веб-страницы),
    написанного с использованием языка разметки.  Также может применяться к
    любым XML-документам, например,  к SVG или XUL.
</p>
<p>
    CSS  используется создателями веб-страниц для  задания цветов, шрифтов,
    стилей, расположения отдельных блоков и  других аспектов представления
    внешнего вида этих веб-страниц. Основной целью  разработки CSS является
    ограждение и отделение описания логической структуры  веб-страницы (которое
    производится с помощью HTML или других языков  разметки) от описания
    внешнего вида этой веб-страницы (которое теперь  производится с помощью
    формального языка CSS). Такое разделение может  увеличить доступность
    документа, предоставить большую гибкость и возможность  управления его
    представлением, а также уменьшить сложность и повторяемость в  структурном
    содержимом.
</p>
<p>
    Кроме  того, CSS позволяет представлять один и тот же документ в различных
    стилях  или методах вывода, таких как экранное представление, печатное
    представление, чтение голосом (специальным голосовым браузером или
    программой  чтения с экрана) или при выводе устройствами, использующими
    шрифт Брайля.
</p>
<strong> <br clear="all"/>
</strong>
<h2>
    <a name="_Toc175997953">1.4 Базы данных,</a>Bootstrap, Django
</h2>
<p>
    В вычислительной  технике база данных —  это организованный набор данных или
    тип хранилища данных, основанный  на использовании системы  управления
    базами данных (СУБД), программного  обеспечения, которое взаимодействует с
    конечными  пользователями, приложениями и самой базой данных для сбора и
    анализа  данных. СУБД дополнительно включает в себя основные средства,
    предназначенные  для администрирования базы данных. Совокупность базы
    данных, СУБД и  связанных с ней приложений можно назвать системой баз
    данных. Часто термин «база данных» также широко  используется для
    обозначения любой СУБД, системы баз данных или приложения,  связанного с
    базой данных.
</p>
<p>
    Небольшие  базы данных могут храниться в файловой системе, тогда как большие
    базы  данных размещаются в компьютерных кластерах или облачных  хранилищах.
    Проектирование баз данных охватывает формальные  методы и практические
    соображения, включая моделирование данных,  эффективное представление и
    хранение данных, языки  запросов, безопасность и конфиденциальность
    конфиденциальных  данных, а также вопросы распределенных вычислений, включая
    поддержку одновременного доступа  и отказоустойчивости.
</p>
<p>
    Реляционные  базы данных стали доминирующими в 1980-х годах. Они моделируют
    данные  в виде строк и столбцов в ряде таблиц, и подавляющее  большинство из
    них используют SQL для записи и запроса данных. В  2000-х годах стали
    популярны нереляционные базы данных, называемые NoSQL,  поскольку они
    используют разные языки запросов.
</p>
<p>
    Bootstrap — свободный набор  инструментов для создания
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B9%D1%82"
        title="Сайт"
    >
        сайтов
    </a>
    и
    <a
        href="https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%B1-%D0%BF%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5"
        title="Веб-приложение"
    >
        веб-приложений
    </a>
    . Включает в себя <a href="https://ru.wikipedia.org/wiki/HTML" title="HTML">
    HTML</a> и <a href="https://ru.wikipedia.org/wiki/CSS"
    title="CSS">CSS</a>-шаблоны  оформления для
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B8%D0%BF%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D0%BA%D0%B0"
        title="Типографика"
    >
        типографики
    </a>
    , веб-форм, кнопок, меток, блоков  навигации и прочих компонентов
    веб-интерфейса, включая
    <a href="https://ru.wikipedia.org/wiki/JavaScript" title="JavaScript">
        JavaScript
    </a>
    -расширения.
</p>
<p>
    Bootstrap  начала разрабатываться как внутренняя библиотека компании
    <a href="https://ru.wikipedia.org/wiki/Twitter" title="Twitter">
        Twitter
    </a>
    под  названием Twitter Blueprint.  После нескольких месяцев разработки он
    был открыт под названием Bootstrap
    <a
        href="https://ru.wikipedia.org/wiki/19_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0"
        title="19 августа"
    >
        19 августа
    </a>
    <a
        href="https://ru.wikipedia.org/wiki/2011_%D0%B3%D0%BE%D0%B4"
        title="2011 год"
    >
        2011  года
    </a>
    .
</p>
<p>
    Основными  нововведениями второй версии, появившейся 31 января 2012 года,
    стали  12-колоночная сетка и поддержка
    <a
        href="https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D0%B0%D0%BF%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9_%D0%B2%D0%B5%D0%B1-%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD"
        title="Адаптивный веб-дизайн"
    >
        адаптивности
    </a>
    .  Третья версия была выпущена 19 августа 2013  года. В ней адаптивность
    получила дальнейшее развитие, был осуществлён переход  к концепции
    <a
        href="https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D0%B0%D0%BF%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9_%D0%B2%D0%B5%D0%B1-%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD#Основные_принципы"
        title="Адаптивный веб-дизайн"
    >
        mobile first
    </a>
    ,  оптимизации прежде всего под мобильные устройства. Дизайн по умолчанию
    теперь  стал
    <a href="https://ru.wikipedia.org/wiki/Flat_Design" title="Flat Design">
        плоским
    </a>
    . Работа над четвёртой версией начата 29  октября 2014 года. 18 января 2018
    года выпущена первая стабильная версия  Bootstrap 4. 5 мая 2021 года выход
    Bootstrap 5.
</p>
<p>
    Основными  инструментами Bootstrap являются:
</p>
<ul type="disc">
    <li>
        Сетки — заранее заданные размеры       колонок, которые можно сразу
        использовать.
    </li>
    <li>
        Шаблоны — фиксированный или резиновый       шаблон документа.
    </li>
    <li>
        Типографика — инструмент описания
        <a
            href="https://ru.wikipedia.org/wiki/%D0%A8%D1%80%D0%B8%D1%84%D1%82"
            title="Шрифт"
        >
            шрифтов
        </a>
        ,       определение некоторых классов для
        <a
            href="https://ru.wikipedia.org/wiki/%D0%A8%D1%80%D0%B8%D1%84%D1%82"
            title="Шрифт"
        >
            шрифтов
        </a>
        ,       таких как код, цитаты и т. п.
    </li>
    <li>
        Медиа — инструмент, предоставляющий       некоторое управление
        изображениями и видео.
    </li>
    <li>
        Таблицы — средства оформления таблиц,       вплоть до добавления
        функциональности сортировки.
    </li>
    <li>
        Формы — некоторые классы для       оформления форм и некоторых событий,
        происходящих с ними.
    </li>
    <li>
        Навигация — некоторые классы оформления       для панелей, вкладок,
        перехода по страницам, меню и панели инструментов.
    </li>
</ul>
<p>
    <strong>Django</strong> — свободный фреймворк для веб-приложений на  языке
    Python, использующий шаблон проектирования MVC. Проект поддерживается
    организацией Django Software Foundation.
</p>
<p>
    Сайт  на Django строится из одного или нескольких приложений, которые
    рекомендуется  делать отчуждаемыми и подключаемыми. Это одно из существенных
    архитектурных  отличий этого фреймворка от некоторых других (например, Ruby
    on Rails).  Один из основных принципов фреймворка — DRY (англ. <em>Don</em><em>'</em><em>t</em><em></em><em>repeat</em><em></em><em>yourself</em>)
</p>
<p>
    Также,  в отличие от других фреймворков, обработчики URL в Django
    конфигурируются явно при помощи регулярных выражений.
</p>
<p>
    Для  работы с базой данных Django использует собственный ORM, в  котором
    модель данных описывается классами Python, и по ней генерируется  схема базы
    данных.
</p>
<p>
    Архитектура  Django похожа на «Модель-Представление-Контроллер» (MVC).
    Контроллер  классической модели MVC примерно соответствует уровню, который в
    Django  называется Представление (англ. <em>View</em>), а презентационная
    логика Представления реализуется в  Django уровнем Шаблонов (англ.
    <em>
        Template
    </em>
    ). Из-за этого уровневую архитектуру Django  часто называют
    «Модель-Шаблон-Представление» (MTV).
</p>
<p>
    Первоначальная  разработка Django как средства для работы новостных ресурсов
    достаточно сильно  отразилась на его архитектуре: он предоставляет ряд
    средств, которые помогают в  быстрой разработке веб-сайтов информационного
    характера. Так, например,  разработчику не требуется создавать контроллеры и
    страницы для административной  части сайта, в Django есть встроенное
    приложение для управления содержимым,  которое можно включить в любой сайт,
    сделанный на Django, и которое может  управлять сразу несколькими сайтами на
    одном сервере. Административное  приложение позволяет создавать, изменять и
    удалять любые объекты наполнения  сайта, протоколируя все совершённые
    действия, и предоставляет интерфейс для  управления пользователями и
    группами (с пообъектным назначением прав).
</p>
<p>
    В  дистрибутив Django также включены приложения для системы комментариев,
    синдикацииiubtuyyugk RSS и Atom «статических страниц»  (которыми можно
    управлять без необходимости писать контроллеры и  представления),
    перенаправления URL и другое.
</p>
<p>
    Некоторые  возможности Django:
</p>
<p>
    1.      ORM, API доступа  к БД с поддержкой транзакций
</p>
<p>
    2.      встроенный  интерфейс администратора, с уже имеющимися переводами на
    многие языки
</p>
<p>
    3.      диспетчер  URL на основе регулярных выражений
</p>
<p>
    4.      расширяемая  система шаблонов с тегами и наследованием
</p>
<p>
    5.      подключаемая  архитектура приложений, которые можно устанавливать на
    любые Django-сайты
</p>
<p>
    6.      «generic  views» — шаблоны функций контроллеров
</p>
<p>
    7.      библиотека  для работы с формами (наследование, построение форм по
    существующей модели БД)
</p>
<br clear="all"/>
<h2>
    <a name="_Toc175997954">2.5 Хостинг</a>
</h2>
<p>
    <strong>Хо́стинг</strong>(
    <a
        href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
        title="Английский язык"
    >
        англ.
    </a>
    <em>hosting</em>) —
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B0"
        title="Услуга"
    >
        услуга
    </a>
    по предоставлению
    <a
        href="https://ru.wikipedia.org/w/index.php?title=%D0%92%D1%8B%D1%87%D0%B8%D1%81%D0%BB%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5_%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%8B&amp;action=edit&amp;redlink=1"
        title="Вычислительные ресурсы (страница отсутствует)"
    >
        ресурсов
    </a>
    для  размещения
    <a
        href="https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F"
        title="Информация"
    >
        информации
    </a>
    на
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B2%D0%B5%D1%80_(%D0%B0%D0%BF%D0%BF%D0%B0%D1%80%D0%B0%D1%82%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D0%B5)"
        title="Сервер (аппаратное обеспечение)"
    >
        сервере
    </a>
    ,  постоянно имеющем доступ к сети (обычно
    <a
        href="https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82"
        title="Интернет"
    >
        Интернет
    </a>
    ).
</p>
<p>
    Обычно  услуга хостинга входит в пакет по обслуживанию сайта и
    подразумевает, как  минимум, размещение файлов сайта на
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B2%D0%B5%D1%80_(%D0%B0%D0%BF%D0%BF%D0%B0%D1%80%D0%B0%D1%82%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D0%B5)"
        title="Сервер (аппаратное обеспечение)"
    >
        сервере
    </a>
    , на  котором запущено
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D0%B5"
        title="Программное обеспечение"
    >
        ПО
    </a>
    , необходимое для обработки  запросов к этим файлам
    (<a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%B1-%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80" title="Веб-сервер">веб-сервер</a>).
    Как правило, в обслуживание уже входит  предоставление места для
    <a
        href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BF%D0%BE%D1%87%D1%82%D0%B0"
        title="Электронная почта"
    >
        почтовой корреспонденции
    </a>
    ,
    <a
        href="https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D0%B7%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85"
        title="База данных"
    >
        баз данных
    </a>
    , <a href="https://ru.wikipedia.org/wiki/DNS" title="DNS">DNS</a>,
    файлового хранилища на специально выделенном
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D1%8B%D0%B9_%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80"
        title="Файловый сервер"
    >
        файл-сервере
    </a>
    и т. п., а также поддержка функционирования соответствующих сервисов.
</p>
<p>
    Хостинг
    <a
        href="https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D0%B7%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85"
        title="База данных"
    >
        базы данных
    </a>
    , размещение файлов, хостинг
    <a
        href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BF%D0%BE%D1%87%D1%82%D0%B0"
        title="Электронная почта"
    >
        электронной почты
    </a>
    ,  услуги <a href="https://ru.wikipedia.org/wiki/DNS" title="DNS">DNS</a>
    могут предоставляться отдельно, как самостоятельные услуги либо входить в
    комплексную услугу.
</p>
<p>
    Одним  из критериев выбора хостинга является используемая
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0"
        title="Операционная система"
    >
        операционная система
    </a>
    ,  поскольку от неё зависит
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D0%B5"
        title="Программное обеспечение"
    >
        программное обеспечение
    </a>
    ,  которое будет поддерживать функциональность сервисов в дальнейшем. Важным
    аспектом описания хостинга является наличие таких служб и возможностей:
    поддержка <a href="https://ru.wikipedia.org/wiki/CGI" title="CGI">CGI</a>:
    <a href="https://ru.wikipedia.org/wiki/Perl" title="Perl">Perl</a>,
    <a href="https://ru.wikipedia.org/wiki/PHP" title="PHP">
        PHP
    </a>
    , <a href="https://ru.wikipedia.org/wiki/Python" title="Python">Python</a>,
    <a
        href="https://ru.wikipedia.org/wiki/Active_Server_Pages"
        title="Active Server Pages"
    >
        ASP
    </a>
    , <a href="https://ru.wikipedia.org/wiki/Ruby" title="Ruby">Ruby</a>,
    <a href="https://ru.wikipedia.org/wiki/JSP" title="JSP">
        JSP
    </a>
    , <a href="https://ru.wikipedia.org/wiki/Java" title="Java">Java</a>;
    поддержка
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B1%D0%B0%D0%B7%D0%B0%D0%BC%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85"
        title="Система управления базами данных"
    >
        баз данных
    </a>
    , а  также установленные модули и
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B5%D0%B9%D0%BC%D0%B2%D0%BE%D1%80%D0%BA"
        title="Фреймворк"
    >
        фреймворки
    </a>
    для каждой из возможностей.
</p>
<p>
    Хостинг  как услугу оценивают по таким ограничениям:
</p>
<ul>
    <li>
        размер:
        <a
            href="https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D1%81%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4"
            title="Дисковод"
        >
            дискового пространства
        </a>
        под файлы
        <a
            href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C"
            title="Пользователь"
        >
            пользователя
        </a>
        ;
    </li>
</ul>
<p>
    ·  количество:  месячного
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82%D0%B5%D0%B2%D0%BE%D0%B9_%D1%82%D1%80%D0%B0%D1%84%D0%B8%D0%BA"
        title="Сетевой трафик"
    >
        трафика
    </a>
    ;
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B9%D1%82"
        title="Сайт"
    >
        сайтов
    </a>
    , которые можно разместить в рамках одной
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A3%D1%87%D1%91%D1%82%D0%BD%D0%B0%D1%8F_%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D1%8C"
        title="Учётная запись"
    >
        учётной  записи
    </a>
    ; <a href="https://ru.wikipedia.org/wiki/FTP" title="FTP">FTP</a>
    пользователей;
    <a
        href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BF%D0%BE%D1%87%D1%82%D0%B0"
        title="Электронная почта"
    >
        E-Mail
    </a>
    ящиков и объём дискового пространства,  предназначенного для почты;
    <a
        href="https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D0%B7%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85"
        title="База данных"
    >
        баз данных
    </a>
    и размер дискового пространства под базы  данных; одновременных процессов на
    пользователя;
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D1%8C"
        title="Оперативная память"
    >
        ОЗУ
    </a>
    , и максимальное время исполнения, выделяемое  каждому процессу
    пользователя.
</p>
<p>
    Качественные  ограничения:
</p>
<p>
    ·  свободные  ресурсы
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81%D0%BE%D1%80"
        title="Процессор"
    >
        CPU
    </a>
    ,
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D1%8C"
        title="Оперативная память"
    >
        оперативной  памяти
    </a>
    , которые влияют на  быстродействие сервера;
</p>
<p>
    ·  пропускная  способность каналов, от которой зависит загрузка информации;
</p>
<p>
    ·  удалённость  оборудования хостера от
    <a
        href="https://ru.wikipedia.org/wiki/%D0%A6%D0%B5%D0%BB%D0%B5%D0%B2%D0%B0%D1%8F_%D0%B3%D1%80%D1%83%D0%BF%D0%BF%D0%B0"
        title="Целевая группа"
    >
        целевой  аудитории
    </a>
    сайта, которая  влияет на загрузку информации.
</p>
<p>
    Виды  хостинга:
</p>
<p>
    1.
    <a
        href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D1%80%D1%82%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9_%D1%85%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B3"
        title="Виртуальный хостинг"
    >
        Виртуальный  хостинг
    </a>
    — сервер с  множеством сайтов, владельцы которых имеют одинаковые права и
    обязанности.
</p>
<p>
    2.                      Виртуальный  выделенный сервер
    (<a href="https://ru.wikipedia.org/wiki/VPS" title="VPS">VPS</a>/VDS) —
    автономная (выделенная) часть дискового пространства на  сервере и
    фиксированные ресурсы. Владелец получает права администратора, и
    самостоятельно может настраивать и устанавливать программы.
</p>
<p>
    3.
    <a
        href="https://ru.wikipedia.org/wiki/%D0%92%D1%8B%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9_%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80"
        title="Выделенный сервер"
    >
        Выделенный  сервер
    </a>
    — полное  владение сервером с отдельной
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0"
        title="Операционная система"
    >
        ОС
    </a>
    ,
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D0%B5"
        title="Программное обеспечение"
    >
        ПО
    </a>
    .
</p>
<p>
    4.
    <a href="https://ru.wikipedia.org/wiki/Colocation" title="Colocation">
        Colocation
    </a>
    — размещение сервера, которым владеет отдельный  человек,
    <a
        href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D0%B4%D0%BF%D1%80%D0%B8%D0%BD%D0%B8%D0%BC%D0%B0%D1%82%D0%B5%D0%BB%D1%8C"
        title="Предприниматель"
    >
        предприниматель
    </a>
    , компания, в дата-центре хостинговой  компании.
</p>
<br clear="all"/>
<h1>
    <a name="_Toc175997955"><strong>Глава</strong></a><strong>II</strong><strong>.
    Создание сайта</strong> <strong></strong>
</h1>
<h2>
    <a name="_Toc175997956">
        2.1 Выбор основных инструментов для  создания сайта и их подключение
    </a>
</h2>
<p>
    В качестве редактора  кода была выбрана программа PyCharm Community Edition,
    так как она обладает  многими технологиям, одни из которых: подсветка
    синтаксиса, что намного  облегчает и ускоряет работу с кодом.
</p>
<p>
    Для создания основы  сайта будет использоваться язык гипертекстовой разметки
    HTML. Для того чтобы придать сайту приятный  удобный внешний вид будет
    использоваться Фреймворк Bootstrap, позволяющий легко создать практичный
    красочный дизайн.
</p>
<p>
    Для разработки  внутреннего строения сайта был выбран Веб-фреймворк Django
    работающий на языке программирования python. Django является одним из лучших
    фреймворков для  создания сайтов, так как он обладает многими готовыми
    модулями для разработки.  В фреймворке предусмотрены встроенная система
    аутентификации; ORM, API доступа  к БД с поддержкой транзакций и другие.
</p>
<p>
    В качестве базы  данных выбрана реляционная MySQL. Эта база данных
    поддерживается фреймворком Django. Гибкость СУБД MySQL обеспечивается
    поддержкой большого количества типов таблиц: пользователи могут выбрать как
    таблицы типа MyISAM, поддерживающие полнотекстовый поиск, так и таблицы
    InnoDB,  поддерживающие транзакции на уровне отдельных записей. Более того,
    СУБД MySQL  поставляется со специальным типом таблиц EXAMPLE,
    демонстрирующим принципы  создания новых типов таблиц.
</p>
<p>
    Установка
</p>
<p>
    Основные программы  были скачены с официальных сайтов
</p>
<p>
    Установка фреймворка Django производится в терминале компьютера командой
    pip install django.
</p>
<p>
    Далее для создания  проекта на основе Django в  терминале нужно обратиться к
    команде django-admin startproject lpie (название проекта). После выполнения
    команды  создастся папка проекта с файлами, с которыми можно работать на
    языке  программирования python.
</p>
<p>
    После этого можно  запустить локальный сервер через терминал. Для этого
    нужно перейти в папку  проекта с помощью команды cd lpie  (название папки).
    Потом нужно написать команду python manage.py runserver или python3
    manage.py runserver. После выполнения команды запуститься  локальный сервер
    и появиться ссылка на его страницу. Для остановки локального  сервера в
    терминале нужно нажать на комбинацию клавиш Ctrl + C. После чего произойдёт
    остановка локального сервера.
</p>
<p>
    Последующая настройка  проекта будет проводиться в подпункте 2.4 Разработка
    внутренних механизмов  сайта, наполнение его контентом.
</p>
<p>
    Фреймворк bootstrap подключается непосредственно в html файлах в теге
    &lt;link&gt;. Его можно подключить как онлайн, так и  скачать необходимые
    данные с официального сайта для большего удобства. Для его  подключения
    нужно в теге &lt;link&gt; прописать атрибут rel=”stylesheet”, чтобы указать,
    что подключённый файл следует читать как файл стиля.  Так же нужно прописать
    атрибут href=”css/bootstrap.min.css”,  который указывает путь до необходимых
    файлов.
</p>
<p>
    Так же для  полноценной работы фреймворка нужно подключить java script
    файлы, которые подключаются в теге &lt;script&gt; с помощью атрибута src=”
    js/bootstrap.bundle.min.js ”.
</p>
<p>
    СУБД MySQL будет внедрена в проект на этапе  подключения сайта к хостингу, а
    во время разработки будет использоваться  встроенная в Django СУБД SQlite.
    <br clear="all"/>
</p>
<h2>
    <a name="_Toc175997957">
        2.2 Разработка  структуры, макета и дизайна сайта
    </a>
</h2>
<p>
    Структура сайта  состоит из двух основных страниц: главной и курсов. Эти
    страницы располагаются в  навигационной панели. Главная страница содержит в
    себе основную информацию о  проекте. Страница с курсами содержит все
    доступные курсы для обучения.
</p>
<p>
    Из страницы с курсами  можно перейти на страницу с отдельным курсом, которая
    состоит из модулей,  которые включают в себя уроки, состоящие из
    теоретического материала и заданий  для проверки знаний. В конце каждого
    модуля содержится итоговая проверка знаний  пользователя за модуль. В конце
    курса содержится итоговая проверка знаний.
</p>
<p>
    На каждой странице  вверху находится навигационная панель, для удобного
    перемещения по сайту, а  внизу футер(footer) с  основной информацией о
    проекте
</p>
<p>
    Пользователи могут  предлагать изменения для сайта или сообщать об ошибках
    на сайте через  специальную форму, располагающуюся на сайте.
</p>
<p>
    Макет сайта был разработан с учетом удобства и понятности для обычного
    пользователя. Интерфейс спроектирован таким образом, чтобы навигация по
    сайту  была интуитивно понятной и простой. Расположение основных элементов
    продумано  для эффективного взаимодействия пользователя с сайтом (см.
    приложение 1).
</p>
<p>
    Для дизайна сайта были выбраны светлые, приятные для восприятия тона. Шрифт
    подобраны с учетом читабельности и визуальной привлекательности. Графические
    элементы, такие как иконки и иллюстрации, дополняют общую стилистику проекта
    (см. приложение 2).
</p>
<p>
    Дизайн и макет адаптированы под различные устройства и экраны. Сайт хорошо
    выглядит и функционирует как на настольных компьютерах, так и на мобильных
    девайсах. Это обеспечивает удобство использования проекта для пользователей,
    независимо от их предпочтений и технических возможностей.
</p>
<strong> <br clear="all"/>
</strong>
<h2>
    <a name="_Toc175997958">
        2.3 Разработка внутренних механизмов  сайта, наполнение его контентом
    </a>
</h2>
<p>
    Создание приложений. Сайт состоит из  двух приложений main и courses. Main
    отвечает за  главные страницы и информацию о проекте. Courses отвечает за
    работу курсов.
</p>
<p>
    Разработка представлений (views) и  маршрутизация. Для каждой ссылки была
    создана функция для обработки HTTP-запросов.  Так же для функций были
    созданы URL-маршруты для связи URL-адресов с  соответствующими
    представлениями. В функциях была прописана логика для загрузки  курсов,
    модулей, уроков и проверки знаний.
</p>
<p>
    Разработка шаблонов (templates). Созданные  HTML-шаблоны были перенесены в
    папку templates  и подключены к настройкам проекта. Так же в шаблоны был
    добавлен шаблонизатор Jinja для облегчения разработки. Так же были
    использованы Django-специфичные  теги и фильтры для динамического
    генерирования контента.
</p>
<p>
    Настройка статических файлов. Была  создана папка static для хранения
    статических файлов сайта (CSS стили, JavaScript, изображения). Папка статик
    была подключена в настройках проекта и HTML-шаблонах.
</p>
<p>
    Проектирование моделей данных. В  файле models.py приложения courses были
    разработаны четыре модели данных: Course, Module, Lesson, Practice и Answer.
    Были  прописаны взаимосвязи между таблицами с помощью поля отношений
    ForeignKey (отношение многие к одному). Для удобства заполнения и
    использования все  модели данных были подключены в админ-панель.
</p>
<p>
    Добавление папки медиа(media). Была добавлена и подключена в настройках
    папка медиа для нестатических  изображений. <br clear="all"/>
</p>
<h2>
    <a name="_Toc175997959">2.4  Разработка курса</a>
</h2>
<p>
    Для создания курса было решено использовать  официальную документацию Python
    Структура и содержание курса. Структуру  курса было решено сделать состоящей
    из модулей и уроков, которые будут включать  в себя теоретический и
    практический материалы. По документации были разработаны  следующие темы и
    подтемы курса:
</p>
<p>
    1)  Введение в Python: Что такое Python; Установка Python; Использование
    среды  разработки Python.
</p>
<p>
    2)  Основы Python: Переменные и типы данных: Операторы и выражения;
    Управляющие  конструкции.
</p>
<p>
    3)  Коллекции в Python: Списки; Кортежи; Словари; Множества.
</p>
<p>
    4)Функции  в Python: Определение и вызов функций; Аргументы и возвращаемые
    значения.
</p>
<p>
    5)  Модули и пакеты: Импорт модулей; Создание собственных модулей
</p>
<p>
    6)  Ввод/вывод в Python: Чтение и запись файлов; Форматирование вывода.
</p>
<p>
    7)  Обработка ошибок: Исключения и их обработка.
</p>
<p>
    Было  решено преподносить учебный материал в виде текста и проверять его с
    помощью  заданий, которые включают в себя выбор ответов и ввод ответов на
    практические  задания.
</p>
<p>
    Для  сбора данных от пользователей в курс добавлена форма обратной связи.
    Полученные  данные будут применены для внесения дальнейших доработок и
    улучшений курса
</p>
<p>
    Планируется  расширять курс дополнительными модулями и уроками.
</p>
<p>
    Материалы  курса будут перенесены в базу данных после размещения сайта на
    хостинге <br clear="all"/>
</p>
<h2>
    <a name="_Toc175997960">2.5 Размещение  сайта в сети интернет</a>
</h2>
<p>
    Для размещения сайта была выбрана платформа PythonAnywhere, так как она
    идеально подходит для  размещения маленьких проектов на Django
</p>
<p>
    Процесс  размещения сайта на PythonAnywhere включает три основных этапа:
    загрузка кода в  PythonAnywhere, настройка <em>virtualenv</em> (виртуального
    окружения), настройка  приложения с использованием WSGI
</p>
<pre>В PythonAnywhere предустановлено много полезных модулей, но они могут быть не лучшими и для этого нужно установить виртуальное окружение. Для его установки нужно запустить консоль Bash и прописать следующую команду: $ mkvirtualenv myvirtualenv --python  =  /usr/bin/python3.10</pre>
<pre>Далее устанавливаются необходимые пакеты (Django и дополнительные библиотеки для его работы) в виртуальную среду, используя     <code>pip. Далее для подключения виртуальной среды на хостинге нужно перейти во вкладку </code>
    <code>Wed</code>
    <code> </code>
и в разделе Virtualenv ввести путь:     <code>/home/myusername/.virtualenvs/myvirtualenv</code>
</pre>
<pre>Чтобы приложение заработало, нужно настроить файл WSGI, который импортирует приложение в качестве переменной Python. Для настройки нужно перейти на     <strong>Web</strong><strong></strong>
нажать     <strong>Add</strong><strong></strong><strong>new</strong><strong></strong><strong>web</strong><strong></strong><strong>app</strong><strong></strong>
и выбрать     <strong>Manual</strong><strong></strong><strong>configuration</strong>
. После завершения будет показана страница с параметрами конфигурации вашего веб-сайта. На этой странице нужно ввести путь к virtualenv. Далее нужно отредактировать файл WSGI, который был создан. Главный шаги: Добавление пути, по которому находится приложение, в     <code>sys.path</code>
 Импорт приложения WSGI и его вызов     <code>application</code>
.</pre>
<pre>Чтобы начать использовать MySQL нужно перейти на вкладку MySQL и установить пароль. Чтобы настроить Django для доступа к базе данных MySQL на PythonAnywhere, необходимо сделать это в файле настроек: </pre>
<pre>DATABASES = {'default': {'ENGINE': 'django.db.backends.mysql', 'NAME': 'имя_пользователя$имя_базы_данных','USER':т'&lt;имя_пользователя&gt;','PASWORD’: 'mysql_password ‘, 'HOST’: 'mysql_hostname ‘,}}</pre>
<pre>После запуска сервера материалы сайта были перенесены в базы данных.    <strong> <br clear="all"/>
    </strong>
</pre>
<h1>
    <a name="_Toc175997961"><strong>Заключение</strong></a> <strong></strong>
</h1>
<p>
    В  ходе выполнения проекта был изучен материал по теме разработка сайтов,
    после  чего был разработан макет сайта, которому был предан красивый внешний
    вид.  После макета был прописан внутренний код сайта и добавлены обучающие
    материалы  по теме «Python».  После завершения разработки сайта, он был
    размещён в информационной сети  интернет и был проверен на
    работоспособность. Цель и задачи проекта были  достигнуты.
</p>
<strong> <br clear="all"/>
</strong>
<p>
    <strong></strong>
</p>
<h1>
    <a name="_Toc175997962"><strong>Список интернет-ресурсов</strong></a>
    <strong></strong>
</h1>
<p>
    <a href="https://ru.wikipedia.org/">https://ru.wikipedia.org/</a>
    (информация о инструментах разработки)
</p>
<p>
    <a href="https://www.mysql.com/">https://www.mysql.com/</a> (установка и
    документация СУБД MySQL)
</p>
<p>
    <a href="https://www.jetbrains.com/">https://www.jetbrains.com/</a>
    (установка PyCharm Community Edition)
</p>
<p>
    <a href="https://getbootstrap.com/">https://getbootstrap.com/</a>
    (документация и установка bootstrap)
</p>
<p>
    <a href="https://www.djangoproject.com/">https://www.djangoproject.com/</a>
    (документация Django)
</p>
<p>
    <a href="https://www.python.org/">https://www.python.org/</a> (установка
    python и его документация)
</p>
<p>
    <a href="https://www.pythonanywhere.com/">
        https://www.pythonanywhere.com/
    </a>
    (хостинг для сайта и его документация)
</p>
<br clear="all"/>
<h1>
    <a name="_Toc175997963"><strong>Приложение 1. Макет сайта</strong></a>
    <strong></strong>
</h1>
<p>
    <a name="_Toc175824456"></a>
</p>
<p>
    <a name="_Toc175824457"></a>
</p>
<br clear="all"/>
<h1>
    <a name="_Toc175997964"><strong>Приложение 2. Дизайн сайта</strong></a>
    <strong></strong>
</h1>
<p>
    Desktop
</p>
<p>
    Главная
</p>
<p>
    Курсы
</p>
<p>
    Курс
</p>
<p>
    Урок
</p>
<p>
    Mobile
</p>
<p>
    Курсы
    Курс
</p>
<p>
    Главная
    Урок
</p>

</body>
</html>